html {
background-color: #c9c;
}
h1 {
color: #000;
text-align: center;
}
h2 {
 text-align: center;
}
.primary-content {
 color: #3fc; 
 margin-left: 5px;
 width: 40%;
}
.secondary-content {
 float: right;
}
.col:last-child {
 float: right;
}
.col {
 padding: 20px;
 float: left;
 width: 30%;
}
