html {
 background-color: #89d6d6 
}
h1 {
  color: #943BC5;
  text-align: center;
}
ul {
  
}
li {
  color: #000;
}
.primary-content {
 color: #60f; 
 margin-left: 5px;
 width: 40%;
}
.secondary-content {
 float: right;
}
.col:last-child {
 float: right;
}
.col {
 padding: 20px;
 float: left;
 width: 30%;
}

/* Media queries */
@media only screen and (max-width: 500px) {
ul {
  display: inline-block;
  float: right;
}
.sec-img {
  width: 100%;
}
}
