h1 {
  color: #099;
  text-decoration: underline;
}
html {
  background-color: #ffc;
}
p {
 color: #669; 
 display: inline-block;
}

/* Media queires */
@media only screen and (max-width: 500px) {
p {
  color: #000;
}
}
