h1 {
  color: #099;
  text-decoration: underline;
  text-align: center;
  padding-bottom: 20px;
}
html {
  background-color: #ffc;
}
p {
 color: #669; 
}
.feat-img {
  width: 25%;
  float: left;
}

/* Media queires */
@media only screen and (max-width: 500px) {
p {
  display: inline-block;
  float: right;
}
.feat-img {
  width: 100%;
}
}
