h1 {
  color: #099;
  text-decoration: underline;
}
html {
  background-color: #ffc;
}
p {
 color: #669; 
 display: inline-block;
}

/* Media queires */
@media (min-width: 720px) {
p {
  float: right;
}
}
